NEXT_PUBLIC_SITE_URL=http://localhost:3000
NOTIFICATION_EMAIL=hello@itsala.com
RESEND_API_KEY=
RESEND_FROM_EMAIL=
SEND_CONFIRMATION_EMAIL=true
POSTGRES_URL=
POSTGRES_PRISMA_URL=
ADMIN_PASSWORD=
ADMIN_SESSION_SECRET=
CLIENT_SESSION_SECRET=
